<div id="root">
    <div class="cs-container">
        <section class="cs-single">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-flex cs-item cs-flex cs-justify-center cs-align-center">
                    <div class="cs-callout cs-center-text">
                        <h1>{{project}}</h1>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-fullbleed">
            <img src="{{img}}" alt="In a vulputate arcu.">
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-heading">
            <div class="page-width cs-center-text">
                <h1>{{project}}</h1>
                <h5 class="cs-subtitle">{{client}}</h5>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-four-across">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-two-across">
            <div class="cs-flex cs-justify-between cs-flex-row-rev page-width">
                <div class="cs-item cs-flex cs-justify-center cs-align-center">
                    <div class="cs-callout cs-callout-right">
                        <h2>{{client}}</h2>
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-three-across">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-two-across">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-single">
            <div class="cs-flex cs-justify-between page-width">
                <img src="{{img}}" alt="In a vulputate arcu.">
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section>
            <div class="page-width cs-flex cs-force-row cs-flex-wrap cs-justify-around">
              {{#each keywords}}
                <div class="cs-circle-item">{{this}}</div>
                {{/each}}
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section>
            <div class="page-width">
                <div class="cs-grow-3 cs-justify-between">
                    <h1 class="cs-pad-sides">{{project}}</h1>
                    <div class="cs-flex cs-flex-row">
                        <div class="cs-grow-1 cs-pad-sides">
                            <h4>{{client}}</h4>
                            <p>{{description}}</p>
                        </div>
                        <div class="cs-grow-1 cs-pad-sides">
                            <h4>{{client}}</h4>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-two-across">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-item cs-flex cs-justify-center cs-align-center">
                    <div class="cs-callout cs-callout-right">
                        <h2>{{client}}</h2>
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="cs-item">
                    <img src="{{img}}" alt="In a vulputate arcu.">
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-three-across">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-item cs-center-text">
                    <h2>{{client}}</h2>
                    <p>{{description}}</p>
                </div>
                <div class="cs-item cs-center-text">
                    <h2>{{client}}</h2>
                    <p>{{description}}</p>
                </div>
                <div class="cs-item cs-center-text">
                    <h2>{{client}}</h2>
                  <p>{{description}}</p>
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-two-across ">
            <div class="cs-flex cs-justify-between cs-row-rev page-width">
                <div class="cs-grow-1 cs-item cs-pad">
                    <h1 class="cs-side-title">Challenge</h1>
                </div>
                <div class="cs-grow-3 cs-item cs-pad">
                    <p>{{challenge}}</p>
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
        <section class="cs-two-across ">
            <div class="cs-flex cs-justify-between page-width">
                <div class="cs-grow-1 cs-item cs-pad">
                    <h1 class="cs-side-title">Solution</h1>
                </div>
                <div class="cs-grow-3 cs-item cs-pad">
                    <p>{{solution}}</p>
                </div>
            </div>
        </section>
        <div style="height: 250px;"></div>
    </div>
</div>
