
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">


    <a class="logo logo-grey navbar-brand js-scroll-trigger" href="#page-top" style="display: none;"  title="Return to top - Two Scoop Interactive"><img src="/img/logo-grey.png" alt="{{name}} - {{slogan}}"/></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services" title="Services - Two Scoop Interactive">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#work" title="Work - Two Scoop Interactive">work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team" title="Team - Two Scoop Interactive">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact" title="Contact - Two Scoop Interactive">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class=" video-header">
  <video src="/img/twoscoopinteractive-bg-reel-sm.mp4" autoplay loop playsinline muted></video>


  <div class="viewport-header">

    <div>
      <img class="logo" src="/img/logo.png" alt="{{name}} - {{slogan}}"/>
      <h1 class="text-white">{{tagline}}</h1>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{hero-button-link}}"  title="Services - Two Scoop Interactive">{{hero-button-text}}</a>

      <i class="fa fa-angle-down"></i>
    </div>

  </div>
</header>

<main class="home">
