

<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{heading}}</h2>
        <span class=" text-muted">{{subtitle}}</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <div class="text-center">
            <img class="mx-auto rounded-circle" src="{{alex.photo}}" alt="{{alex.title}}, {{alex.title}} for Two Scoop Interactive">
            <h2>{{alex.name}}</h2>
            <p class="text-muted">{{alex.title}}</p>
            <p><a href="mailto:{{alex.email}}" title="Email {{alex.title}}, {{alex.title}} for Two Scoop Interactive">{{alex.email}}</a></p>
          </div>
          <p class="bio-font">{{alex.bio}}</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <div class="text-center">
            <img class="mx-auto rounded-circle" src="{{eric.photo}}" alt="{{eric.name}}, {{eric.title}} for Two Scoop Interactive">
            <h2>{{eric.name}}</h2>
            <p class="text-muted">{{eric.title}}</p>
            <p><a href="mailto:{{eric.email}}" title="Email {{eric.name}}, {{eric.title}} for Two Scoop Interactive">{{eric.email}}</a></p>
          </div>
          <p class="bio-font">{{eric.bio}}</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mx-auto text-center">
        <img src="img/location-map.jpg" alt="Two Scoop Interactive located in Louisville Kentucky USA"/>
      </div>
      <div class="col-sm-6 mx-auto text-center" style="flex-direction: column; display: flex; justify-content: center;">

        <h3 class="text-muted">Based in Louisville, Kentucky <br/>Always just a phone call away. <br/> <a href="tel:(502) 715-2710" title="Call Two Scoop Interactive for a free consultation">{{phone}}</a></h3>
      </div>
    </div>
  </div>
</section>
