<section class="p-0" id="work">

<div class="nav-height-spacer"></div>

  <div class="container-fluid p-0">
    <div class="row no-gutters">


      {{#each work}}
      <div class="col-lg-4 col-sm-6">
        {{#if url}}
        <a class="work-box" href="{{url}}">
          {{else}}
            <div class="work-box">
          {{/if}}
          <img class="img-fluid" src="{{img}}" alt="{{name}} - {{category}} by Two Scoop Interactive">
          <div class="work-box-caption">
            <div class="work-box-caption-content">
              <div class="project-category text-faded">
                {{category}}
              </div>
              <div class="project-name">
                {{name}}
              </div>
              {{#if url}}
              Click to view case study
              {{/if}}
            </div>
          </div>
          {{#if url}}
        </a>
        {{else}}
      </div>
      {{/if}}
      </div>
      {{/each}}


    </div>
  </div>
</section>
